@()(implicit request: play.api.mvc.RequestHeader, messages: play.api.i18n.MessagesProvider)
<div class="header">
    <div class="logo">
        <a href="@routes.MainController.index()">Cosgroups</a>
    </div>
    <div class="header-nav-list">
        <a class="active" href="@routes.MainController.index()">Home</a>
        <a href="@routes.MainController.about()">About</a>
        <a href="@routes.MainController.about()">Featured Cosplays</a>
        <a href="@routes.MainController.about()">Explore Events</a>
    </div>
    <div class="header-authentication-container">
        @request.session.get("username") match {
            case Some(name) => {
                <a href="@routes.MainController.dashboard()">Hello, @request.session.get("username").get.toString()!</a>
                <a href="@routes.MainController.logout()">Logout</a>
            }
            case None => {
                <a href="@routes.MainController.login()">Login</a>
            }
        }
    </div>
</div>