@main("About | Cosgroups") {
    <p>Nisi aliqua aliquip laboris esse in labore ad. Et est Lorem eu non sit aliquip dolor. In mollit deserunt ut proident aliqua exercitation ipsum. Irure sunt duis elit anim culpa. Est culpa mollit occaecat qui do est cillum. Consectetur aute amet officia do sunt eu ad ut labore. Ad ad proident laborum enim minim.</p>

    <p>Minim dolore laboris duis consectetur. Tempor ullamco consectetur fugiat ex enim qui commodo esse ipsum reprehenderit magna labore. Fugiat in in ut anim quis exercitation laborum elit incididunt nulla tempor mollit mollit id.</p>

    <p>Nulla proident dolore et nulla consectetur eiusmod aliqua officia quis tempor dolore elit ea non. Sint adipisicing eu tempor nostrud magna do id ad excepteur ex cillum. Veniam quis do dolor anim nulla laborum fugiat sint non consectetur veniam veniam. Ut fugiat incididunt consequat enim. Do ut aliquip irure incididunt cupidatat esse duis commodo magna qui. Excepteur est adipisicing eiusmod magna et Lorem sint velit consequat. Enim et qui incididunt nulla quis incididunt tempor aliqua voluptate.</p>
}
