@(user: User)
@main("Dashboard | Cosgroups") {
<section>
    <h2>My Cosgroups</h2>
    <div>
        <!-- This will be where we add each cosgroup as a table element -->
         <table style="border: 2px solid black;">
            <thead style="border: 2px solid black; padding:1em;">
                <th scope="col" style="width: 200px;">
                    
                </th>
                <th scope="col" style="width: 200px;">
                    Cosgroup
                </th>
                <th scope="col" style="width: 200px;">
                    Users
                </th>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 2px solid black; padding:1em;">
                        [ an icon ]
                    </td>
                    <td style="border: 2px solid black; padding:1em;">
                        The Spirit Squad
                    </td>
                    <td style="border: 2px solid black; padding:1em;">
                        [avatar] <a href="">NICKY</a><br>
                        [avatar] <a href="">bananaman</a><br>
                        [avatar] <a href="">spudnik</a><br>
                        [avatar] <a href="">donkey</a><br>
                    </td>
                </tr>
                <tr>
                    <td style="border: 2px solid black; padding:1em;">
                        [ an icon ]
                    </td>
                    <td style="border: 2px solid black; padding:1em;">
                        The Spirit Squad
                    </td>
                    <td style="border: 2px solid black; padding:1em;">
                        [avatar] <a href="">NICKY</a><br>
                        [avatar] <a href="">bananaman</a><br>
                        [avatar] <a href="">spudnik</a><br>
                        [avatar] <a href="">donkey</a><br>
                    </td>
                </tr>
                <tr>
                    <td style="border: 2px solid black; padding:1em;">
                        [ an icon ]
                    </td>
                    <td style="border: 2px solid black; padding:1em;">
                        The Spirit Squad
                    </td>
                    <td style="border: 2px solid black; padding:1em;">
                        [avatar] <a href="">NICKY</a><br>
                        [avatar] <a href="">bananaman</a><br>
                        [avatar] <a href="">spudnik</a><br>
                        [avatar] <a href="">donkey</a><br>
                    </td>
                </tr>
            </tbody>
         </table>
    </div>
</section>
}
