@main("Login | Cosgroups") {
  
    <form>
        <div class="mb-3">
          <label for="inputUsername" class="form-label">Username</label>
          <input type="email" class="form-control" id="inputUsername">
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck">
          <label class="form-check-label" for="exampleCheck">Keep me logged in</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="@controllers.routes.HomeController.register()"><button type="button" class="btn btn-primary">Register</button></a>
    </form>
}
