* {
    box-sizing: inherit;
}
html {
    height: 100%;
    box-sizing: border-box;
    background-color: #f1e6c9;
}
body {
    height: 100%;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
}
.page-body {
    min-height: 100vh;
}
/* #page-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
} */
