@import play.api.data.*
@import play.api.data.Forms.*

@(loginForm: Form[_])(implicit request: MessagesRequest[_])

@import helper.*

@Main("Login | Cosgroups") {
    <h1>Login to Cosgroups</h1>
    @form(action = routes.MainController.loginPost()) {
        @CSRF.formField
        @loginForm("username").hasErrors match {
            case true => {
                @Error("username")
                @inputText(loginForm("username"))
            }
            case _ => {
                @inputText(loginForm("username"))
            }
        }
        @loginForm("password").hasErrors match {
            case true => {
                @Error("password")
                @inputPassword(loginForm("password"))
            }
            case _ => {
                @inputPassword(loginForm("password"))
            }
        }
        <a href="@routes.MainController.register()"><p>Don't have an account? Register today!</p></a>
        <button type="submit">Submit</button>
    }
}