@import play.api.data.*
@import play.api.data.Forms.*

@(cosplayForm: Form[_])(implicit request: MessagesRequest[_])

@import helper.*

@Main("New Cosplay | Cosgroups") {
    <h1>New Cosplay</h1>
    @form(action = routes.MainController.newCosplayPost()) {
        @CSRF.formField
        @cosplayForm("characterName").hasErrors match {
            case true => {
                @Error("characterName")
                @inputText(cosplayForm("characterName"))
            }
            case _ => {
                @inputText(cosplayForm("characterName"))
            }
        }
        @cosplayForm("seriesName").hasErrors match {
            case true => {
                @Error("characterName")
                @inputText(cosplayForm("seriesName"))
            }
            case _ => {
                @inputText(cosplayForm("seriesName"))
            }
        }
        <button type="submit">Create</button>
    }
}