@import play.api.data.*
@import play.api.data.Forms.*

@(cosplayForm: Form[_])(implicit request: Request[_], messages: MessagesProvider)

@import helper.*

@Main("New Cosplay | Cosgroups") {
    <h1>New Cosplay</h1>
    @form(action = routes.MainController.newCosplayPost()) {
        @CSRF.formField
        @cosplayForm("characterName").hasErrors match {
            case true => {
                @Error("characterName")
                @inputText(cosplayForm("characterName"))
            }
            case _ => {
                @inputText(cosplayForm("characterName"))
            }
        }
        @cosplayForm("seriesName").hasErrors match {
            case true => {
                @Error("characterName")
                @inputText(cosplayForm("seriesName"), Symbol("id") -> "Series Name")
            }
            case _ => {
                @inputText(cosplayForm("seriesName"), Symbol("id") -> "Series Name")
            }
        }
        @cosplayForm("started").hasErrors match {
            case true => {
                @Error("started")
                @inputDate(cosplayForm("started"))
            }
            case _ => {
                @inputDate(cosplayForm("started"))
            }
        }
        @cosplayForm("status").hasErrors match {
            case true => {
                @Error("status")
                @inputText(cosplayForm("status")) @* need to figure what we want status to be, or remove *@
            }
            case _ => {
                @inputText(cosplayForm("status")) @* need to figure what we want status to be, or remove *@
            }
        }
        @cosplayForm("completed").hasErrors match {
            case true => {
                @Error("completed")
                @inputDate(cosplayForm("completed"))
            }
            case _ => {
                @inputDate(cosplayForm("completed"))
            }
        }
        @cosplayForm("archived").hasErrors match {
            case true => {
                @Error("archived")
                @inputDate(cosplayForm("archived"))
            }
            case _ => {
                @inputDate(cosplayForm("archived"))
            }
        }
        @cosplayForm("description").hasErrors match {
            case true => {
                @Error("description")
                @textarea(cosplayForm("description"), Symbol("id") -> "Description")
            }
            case _ => {
                @textarea(cosplayForm("description"), Symbol("id") -> "Description")
            }
        }
        <button type="submit">Create</button>
    }
}
