@import play.api.data.*
@import play.api.data.Forms.*

@(registrationForm: Form[_])(implicit request: MessagesRequest[_])

@import helper.*

@Main("Register | Cosgroups") {
    <h1>Register to Cosgroups</h1>
    @form(action = routes.MainController.registerPost()) {
        @CSRF.formField
        @registrationForm("username").hasErrors match {
            case true => {
                @Error("username")
                @inputText(registrationForm("username"))
            }
            case _ => {
                @inputText(registrationForm("username"))
            }
        }
        @registrationForm("email").hasErrors match {
            case true => {
                @Error("email")
                @inputText(registrationForm("email"))
            }
            case _ => {
                @inputText(registrationForm("email"))
            }
        }
        @registrationForm("password").hasErrors match {
            case true => {
                @Error("password")
                @inputPassword(registrationForm("password"))
            }
            case _ => {
                @inputPassword(registrationForm("password"))
            }
        }
        @registrationForm("confirmPassword").hasErrors match {
            case true => {
                @Error("confirmPassword")
                @inputPassword(registrationForm("confirmPassword"))
            }
            case _ => {
                @inputPassword(registrationForm("confirmPassword"))
            }
        }
        <button type="submit">Submit</button>
        <a href="@routes.MainController.login()"><p>Already have an account? Click here to sign in</p></a>
    }
}