@import play.api.data.*
@import play.api.data.Forms.*

@(user: User)(implicit request: Request[_], messages: MessagesProvider)

@import helper.*

@Main("My Cosplays | Cosgroups") {
    <h1>@{user.username}'s Cosplays</h1>
    <div class="user-cosplays">
        @for(cosplay <- user.cosplays) {
            <div class="user-cosplays-character">
                <a href="@routes.MainController.viewCosplay(user.username, cosplay.id)"><h2>@cosplay.characterName</h2></a>
                <p>other cosplay info...</p>
            </div>
        }
    </div>
}
