@import play.api.data.*
@import play.api.data.Forms.*

@(user: User)(implicit request: Request[_], messages: MessagesProvider)

@Main("My Cosgroups | Cosgroups") {

    <h1>@user.username's Cosgroups</h1>
    <div class="user-cosgroups">
        @for(cosgroup <- user.cosgroups) {
            <div class="user-cosgroup">
                <a href="@routes.MainController.viewCosgroup(cosgroup.id)"><h2>@cosgroup.name</h2></a>
                <p>created: @cosgroup.created<br />
                    @if(cosgroup.archived) {
                        archived: @cosgroup.archived<br />
                    }
                description: @cosgroup.description.map(_.take(100)).getOrElse("")<br />
                members:
                    @if(cosgroup.members.nonEmpty) {
                        @for(member <- cosgroup.members) {
                            <a href="@routes.MainController.viewProfile(member.username)">@member.username</a>
                        }
                    } else {
                        <pre>,</pre>
                    }<br />
                nextEvents: @cosgroup.nextEvents<br />
                previousEvents: @cosgroup.previousEvents</p>
            </div>
        }
    </div>
}
