.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header-nav-list {
    float: right;
}

.header-nav-list a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header-nav-list a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header-nav-list a.active {
  background-color: dodgerblue;
  color: white;
}

.header-authentication-container {
    float: right;
}

.header-authentication-container a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header-authentication-container a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header-authentication-container a.active {
  background-color: dodgerblue;
  color: white;
}
